<!DOCTYPE html>

<html>

<body>

<h1>

Editar

</h1>

<form method="POST">

<input
name="title"
value="{{ task.title }}"
required>

<textarea
name="description">

{{ task.description }}

</textarea>

<select
name="priority">

<option>

Baixa

</option>

<option>

Média

</option>

<option>

Alta

</option>

</select>

<select
name="status">

<option>

Pendente

</option>

<option>

Em andamento

</option>

<option>

Concluída

</option>

</select>

<button>

Atualizar

</button>

</form>

</body>

</html>